<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Allura|Cinzel+Decorative|La+Belle+Aurore|Parisienne|Qwigley|Rouge+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic|Dosis|Khula|Mallanna|Metrophobic|Muli|Pavanam|Pontano+Sans|Quicksand|Thasadith&display=swap" rel="stylesheet">
</head>
<body>

<ul id="my-nav">
  <li id="li-top"><a id="logo" href="">My Portfolio</a></li>
  <li id="li-top"><a href="/contact">Contact Me</a></li>
  <li id="li-top"><a href="/projects" style="margin-right: 80px;">Projects</a></li>
</ul>
<br>

<img src="my2.jpg" alt="" class="myself">

    <h1>Lorena Milian</h1>
<div class="inform">
   
    <h2> Hi, I'm a full stack Web Developer and Designer. Active user of HTML5 and CSS3.  Experience using Bootstrap as well as Node.js<br>  ( Express.js, MySQL ) and Git. <br> Now getting into React as well as going deeper in all the stuff I've learned so far.<br> Web Developer is my passion, reason why I enjoy being continuously learning and I won't stop going forward <br> in this amazing career.
      </h2>
  </div>
    <hr class="flooter-line">

<div class="allfloot">
  <div id="flooter" class="inform">
       <h3>© 2019 placeholder Inc. All rights reserved.</h3>
       <li id="logo" class="logo-flooter">Lorena's Style</li>  
  </div>
</body>
</html>