<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Allura|Cinzel+Decorative|La+Belle+Aurore|Parisienne|Qwigley|Rouge+Script&display=swap" rel="stylesheet">
</head>
<body>

<ul id="my-nav">
  <li id="li-top"><a id="logo" href="">My Portfolio</a></li>
  <li id="li-top"><a href="/contact">Contact Me</a></li>
  <li id="li-top"><a href="/projects">Projects</a></li>
</ul>
<br>
<img src="style/my2.jpg" alt="" class="myself">

    <h1>Lorena Milian</h1>
    <h2> As a Web Designer, you are proficient in both <br> front-end development and graphic design,<br> while also being knowledgeable in usability and user experience. <br> With such a broad description,<br> it is best to specify which tools, languages, and industries <br> you are most experienced in. This way employers can narrow you down and see you as <br> an expert who can take care of their specific problem.</h2>

    <hr class="flooter-line">

<div class="allfloot">
  <div id="flooter" class="inform">
       <h3>© 2019 placeholder Inc. All rights reserved.</h3>
       <li id="logo" class="logo-flooter">Lorena's Style</li>  
  </div>
</body>
</html>