<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="projects.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura|Cinzel+Decorative|La+Belle+Aurore|Parisienne|Qwigley|Rouge+Script&display=swap" rel="stylesheet">
    <title>Projects</title>
</head>
<body> 
  <ul>
    <li><a id="logo" href="projects.html">Projects</a></li>
    <li><a href="/">Back</a></li>
    
  </ul>
<br><br><br><br>
  <div class="test">  
    <h2><div class="card">
        <img src="cuba.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Autentica Cuba</b></h4>
          <p>HTML, CSS, JavaSacript</p>
          <!-- <a href="" target="_blank" class="see-All">See Project</a> -->
        </div>
      </div>
      <br><br><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</h2>
      <br>
   </div>
  </div>

  <div class="test"><hr class="hr"><br>
   <h2><div class="card">
        <img src="job-app.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Career-Developer</b></h4>
          <p>Node.js, Express, API, EJS</p>
          <!-- <a href="" target="_blank" class="see-All">See Project</a> -->
        </div>
      </div>
     <br><br><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</h2>
      <br>
</div>
</div>  
<div class="test"><hr class="hr"><br>
  <h2><div class="card">
      <img src="world-views.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>World Views</b></h4>
        <p>Node.js, Express, Node.js, Pug</p>
        <!-- <a href="" target="_blank" class="see-All">See Project</a>   -->
      </div>
    </div>
    <br><br><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</h2>
    <br>
 </div>
</div>

<div class="test"><hr class="hr"><br>
  <h2><div class="card">
      <img src="world-views.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Logo Creator</b></h4>
        <p>HTML, CSS, JAvascript - DOM Manipulation</p>
        <!-- <a href="" target="_blank" class="see-All">See Project</a> -->
      </div>
    </div>
    <br><br><br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</h2>
    <br>
 </div>
</div>

<div class="allfloot">
  <div id="flooter" class="inform">
       <h3>© 2019 placeholder Inc. All rights reserved.</h3>
       <li id="logo" class="logo-flooter">Lorena's Style</li>  
  </div>



</body>
</html>
